.overlay {
    // position: fixed;
    // margin-top: -60px;
    // left: -100%;
    // width: 100%;
    // height: 110vh;
    // background-color: rgba(30, 30, 30, 0.8);
    // z-index: 10;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    //===============================
    animation: slide 0.5s forwards;
}


//============
@keyframes slide {
    100% {
        left: 0;
        /* конечное положение окна в центре экрана */
    }
}

.link {
    text-decoration: underline;
}

.registration_form {
    max-width: 883px;
    height: 500px;
    border-radius: 30px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.success_modal {
    width: 883px;
    height: 500px;
    border-radius: 30px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding: 100px 100px;

    //=================
    animation: slide-in 0.5s ease-in-out forwards;
}

//=================
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}


.title {
    font-family: Gotham Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.success_title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #701AC7;
}

.success_title:nth-child(2) {
    margin-bottom: 23px;
}

.success_message {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: rgba(30, 30, 30, 0.8);
}

.label {
    width: 331px;
    position: relative;
    display: inline-block;
    margin: 0
}

input[type='tel'] {
    padding-left: 50px;
}

span.icon_search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url(../1/india.svg);
    background-size: 100% 100%;
}

.tel {
    height: 82px;
    width: 100%;
    border-radius: 7px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border: rgba(30, 30, 30, 0.15);

    // background: rgba(249, 249, 249, 0.25);
}




.first_inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: flex-end;
}

.second_inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.name {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border: rgba(30, 30, 30, 0.15);
    margin-top: 10px;
}

.name::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.email {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border: rgba(30, 30, 30, 0.15);
}

.btn {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    background-color: #701AC7;
    font-family: Gotham Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    border: #701AC7;
    color: white;
    cursor: pointer;
}

.checkbox {
    vertical-align: middle;
    margin-right: 5px;
}

.checkbox__text {
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E99;

}

@media (max-width:900px) {
    .registration_form {
        width: 90vw;
        height: 700px;
    }

    .success_modal {
        width: 90vw;
        height: 700px;
    }
}

@media (max-width:550px) {
    .overlay {
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // background-color: rgba(30, 30, 30, 0.8);
        // z-index: 100;
    }

    .success_modal {
        position: static;
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 110px;
        border-radius: 15px;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        z-index: 101;
    }

    .success_title {
        font-family: 'Gotham Pro';
        font-style: normal;
        letter-spacing: 0em;
        text-align: center;
        color: #701AC7;
        font-weight: 700;
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 24px;
    }

    .success_title:nth-child(1) {
        margin-bottom: 0;
    }

    .success_message {
        font-family: Gotham Pro;
        font-style: normal;
        text-align: center;
        color: rgba(30, 30, 30, 0.8);

        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
    }


    .registration_form {
        position: static;
        width: 300px;
        height: 539px;
        margin: auto;
        // margin-top: 110px;
        border-radius: 15px;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        z-index: 101;
    }

    .title {
        font-family: Gotham Pro;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .first_inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
    }

    .second_inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .PhoneInput {
        background-color: white;
    }

    .tel {
        height: 69px;
        width: 277px;
        border-radius: 5px;
        font-family: Gilroy;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        // border: rgba(30, 30, 30, 0.15);
        border: rgba(153, 22, 22, 0.15);
    }

    .name {
        height: 69px;
        width: 277px;
        border-radius: 5px;
        font-family: Gilroy;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        border: rgba(30, 30, 30, 0.15);
    }

    .email {
        height: 69px;
        width: 277px;
        border-radius: 5px;
        font-family: Gilroy;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        border: rgba(30, 30, 30, 0.15);
    }

    .btn {
        height: 69px;
        width: 277px;
        border-radius: 5px;

        font-family: Gotham Pro;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;

        border: #701AC7;
        color: white;
        border-color: #701AC7;
        cursor: pointer;
    }

    .checkbox {
        vertical-align: middle;
    }

    .checkbox__text {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

        color: #1E1E1E99;

    }
}